.navbar-template{
    background: #06adff;
    border-color: #1f62b2;
}

.btn-primary{
    background-color: #ffa034;
    border-color: #ffa034;
    
}

hr {
	background-color:#ffa034; 
	color:#000000; 
	height:1px; 
	display: 
	inline-block; 
	text-align: 
	left; width:100%;'
}

@media (min-width: 768px) {
    .container-fluid > .navbar-collapse{
        padding-left: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
}