label{
    font-weight: normal;
}

form{
    clear: left;
}

body{
    background: #f1f1f1;
}

.header-title, .header-logo{
    float: left;
    padding: 15px;
}
.header-logo{
    width: 104px;
    height: 118px;
}
.header-title{
    line-height: 74px;
}
.header-pagetitle{
    float: left;
    margin: 0;
}

h2, h3, h4, h5, h6{
    color: #1f62b2;
}

.navbar-template{
    background: #06adff;
    border: none;
}
.breadcrumb{
    float: right;
    background: none;
    padding: 8px 0;
}
.breadcrumb>li+li:before{
    content: '>';
}

.navbar-template .navbar-nav > li > a:focus,
.navbar-template .navbar-nav > li > a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.navbar-template .navbar-nav > li > a,
.navbar-template .navbar-nav > li.active > a,
.navbar-template .navbar-nav > li.active > a:focus,
.navbar-template .navbar-nav > li.active > a:hover{
    color: #ffffff;
}

.navbar-template .navbar-nav > .active > a,
.navbar-template .navbar-nav > .active > a:focus,
.navbar-template .navbar-nav > .active > a:hover{
    background-color: #93dbff;

    border-radius: 8px;
}

.navbar-template .navbar-toggle{
    background: #ffffff;
}

.navbar-template .navbar-nav > li > span{
    display: inline-block;
    color: #ffffff;
    padding: 10px 15px;
    line-height: 20px;
}
@media (min-width: 768px) {
    .navbar-template .navbar-nav > li > span{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.veiling-card{
    margin: 0 0 30px 0;

    border: 1px solid #cccccc;
    background: #ffffff;
}
.veiling-card-img{
    width: 100%;
    height: 250px;
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 2px solid #ffa034;
}
.veiling-card-img img{
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.veiling-card-content{
    padding: 15px;
}
.veiling-card-content p{
    margin: 0;
    padding: 0;
}
.veiling-card-title{
    float: left;
    margin: 0;
}
.veiling-card-title, .veiling-card-time{
    margin-bottom: 12px;
}
.veiling-card-time, .veiling-card-button{
    float: right;
}
.veiling-card-title, .veiling-card-price{
    float: left;
}
.veiling-card-price{
    line-height: 35px;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}

.veiling-rubrieken{
    border-radius: 4px;
    background: #06adff;
}
.veiling-rubrieken > ul, .veiling-rubrieken > ul ul{
    list-style: none;
}
.veiling-rubrieken > ul{
    padding: 15px;
}
.veiling-rubrieken > ul ul{
    padding: 0 15px;
}
.veiling-rubrieken span{
    color: #ffffff;
    font-weight: bold;
}
.veiling-rubrieken a{
    color: #ffffff;
}

.btn-primary{
    background-color: #ffa034;
    border-color: #ffa034;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.well{
	background: #fff;
}

hr {
	background-color:#ffa034; 
	color:#000000; 
	height:1px; 
	display: 
	inline-block; 
	text-align: 
	left; width:100%;
}

.textfield{
    border: 2px solid #aaa;
    background-color: #fff;
    padding: 5px;
    margin: 0 0 20px 0;
}

.textfield p{
    margin: 0;
}

.search-group .search-form-control{
    width: 75%;
}
.search-group .rubriek-form-control{
    width: 25%;
}

@media (min-width: 768px) {
    .container-fluid > .navbar-collapse{
        /*padding-left: 0;*/
        margin-left: -15px;
        margin-right: -15px;
    }
    .container-fluid > .navbar-collapse > .navbar-right{
        margin-right: 0;
    }
}